# .gitignore
*.jpg
*.png
*.jpeg
*.zip
cats_and_dogs_filtered/
data/cifar-10-python.tar.gz
*.pth
*.h5
*.pt
data/
runs/
roboflow/
.env
*.mp4
*.weights
*.pb
personalproject/roboflow01
personalproject/roboflow02
personalproject/roboflow03
personalproject/roboflow04
personalproject/roboflowfin
personalproject/dataset-modification
personalproject/mlp_tuning
personalproject/pre-dataset
